{% extends 'common/index.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }
        .container {
            max-width: 960px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        .card {
            display: flex;
            flex-direction: column;
            border: none;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
        }
        .card-body {
            flex: 1;
            padding: 20px;
        }
        .card img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
        .btn {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .btn:hover {
            background-color: #0056b3;
        }
        .text-secondary {
            color: #6c757d;
        }
        .text-muted {
            color: #6c757d;
        }
        .mb-0 {
            margin-bottom: 0;
        }
        .hr-divider {
            border: none;
            border-top: 1px solid #dee2e6;
        }
        .row {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="{{ userprofile.profile_pic.url }}" alt="Admin">
                            <h4 class="mt-3">{{ user.first_name }} {{ user.last_name }}</h4>
                            <p class="text-secondary mb-1">{{ userprofile.status }}</p>
                            <p class="text-muted">{{ user.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ user.first_name }} {{ user.last_name }}
                            </div>
                        </div>
                        <hr class="hr-divider">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Status</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ userprofile.status }}
                            </div>
                        </div>
                        <hr class="hr-divider">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Birthdate</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ userprofile.date_of_birth }}
                            </div>
                        </div>
                        <hr class="hr-divider">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nationality</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ userprofile.nationality }}
                            </div>
                        </div>
                        <hr class="hr-divider">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Gender</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ userprofile.gender }}
                            </div>
                        </div>
                        <hr class="hr-divider">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ user.email }}
                            </div>
                        </div>
                        <hr class="hr-divider">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone Number</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ userprofile.phone_number }}
                            </div>
                        </div>
                        
                        <hr class="hr-divider">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ userprofile.address }}
                            </div>
                        </div>
                        <hr class="hr-divider">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Certificates</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <a href="{{ userprofile.certificates.url }}">{{ userprofile.certificates }}</a>
                            </div>
                        </div>
                        <hr class="hr-divider">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Bio</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ userprofile.bio }}
                            </div>
                        </div>
                        
                        <hr class="hr-divider">
                        <div class="row">
                            <div class="col-sm-9">
                                <a class="btn btn-primary" href="{% url 'update_user_profile' user.pk %}">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
