{% extends 'common/index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row mb-3">
        <div class="col-auto">
            <form class="d-flex" method="GET" action="{% url 'students:get_students' %}" style="background-color: #f0f0f0; padding: 10px; border-radius: 5px;">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" style="border: 1px solid #ccc; border-radius: 3px; padding: 5px;">
                <button class="btn btn-outline-primary" type="submit" style="background-color: #007bff; color: #fff; border: none; border-radius: 3px; padding: 5px 10px;">Search</button>
            </form>
        </div>
    </div>

    <table class="table table-hover table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">Avatar</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Age</th>
            <th scope="col">Address</th>
            <th scope="col">Enrollment</th>
            <th scope="col">Group</th>
            <th scope="col">Resume</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>

        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td><img src="{{ student.avatar.url }}" alt="Avatar" style="max-width: 50px;"></td>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.phone_number }}</td>
                {% if student.date_of_birth %}
                    <td>{{ student.date_of_birth }}</td>
                    <td>{{ student.age }}</td>
                {% else %}
                    <td>Unknown</td>
                    <td>Unknown</td>
                {% endif %}
                <td>{{ student.address }}</td>
                <td>{{ student.enrollment }}</td>
                <td>{{ student.group.name }}</td>
                <td>
                    {% if student.resume %}
                        <a href="{{ student.resume.url }}">{{ student.resume }}</a>
                    {% else %}
                        Empty
                    {% endif %}
                </td>
                <td>
                    <a type="button" class="btn btn-warning"
                       href={% url 'students:update_student' student.uuid %}>Edit
                    </a>
                </td>
                <td>
                    <a type="button" class="btn btn-danger"
                       href={% url 'students:delete_student' student.uuid %}>Delete
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
