{% extends 'common/index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row mb-3">
        <div class="col-auto">
            <form class="d-flex" method="GET" action="{% url 'teachers:get_teachers' %}" style="background-color: #f0f0f0; padding: 10px; border-radius: 5px;">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" style="border: 1px solid #ccc; border-radius: 3px; padding: 5px;">
                <button class="btn btn-outline-primary" type="submit" style="background-color: #007bff; color: #fff; border: none; border-radius: 3px; padding: 5px 10px;">Search</button>
            </form>
        </div>
    </div>

    <table class="table table-hover table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">Avatar</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Birth Date</th>
            <th>Age</th>
            <th>Mentor Status</th>
            <th>Mentor Group</th>

            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                <td><img src="{{ teacher.avatar.url }}" alt="Avatar" style="max-width: 50px;"></td>
                <td>{{ teacher.first_name }}</td>
                <td>{{ teacher.last_name }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.phone_number }}</td>
                <td>{{ teacher.address }}</td>
                {% if teacher.date_of_birth %}
                    <td>{{ teacher.date_of_birth }}</td>
                    <td>{{ teacher.age }}</td>
                {% else %}
                    <td>Unknown</td>
                    <td>Unknown</td>
                {% endif %}
                <td>{{ teacher.mentor_status }}</td>
                <td>
                {% for group in teacher.group.all %}
                    <a href="{% url 'groups:group_info' group.pk %}" data-view-component="true" class="Link ml-2 text-bold">{{ group.name }}</a>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
                </td>
                <td>
                    <a type="button" class="btn btn-warning"
                       href={% url 'teachers:update_teacher' teacher.pk %}>Edit
                    </a>
                </td>
                <td>
                    <a type="button" class="btn btn-danger"
                       href={% url 'teachers:delete_teacher' teacher.pk %}>Delete
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}

