{% extends 'common/index.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <form method="get">
        <table class="table table-hover table-dark table-striped">
            <thead>
            <tr>
                <th>Group Name</th>
                <th>Focus on Subject</th>
                <th>Students Quantity</th>
                <th>Mentor</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ group.name }}</td>
                <td>{{ group.focus_on_subject }}</td>
                <td>{{ group.students_quantity }}</td>
                <td>
                    {% for teacher in group.teachers.all %}
                            {{ teacher.first_name }}
                            {{ teacher.last_name }}
                            {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>
    </form>
{% endblock content %}
