{% extends 'common/index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row mb-3">
        <div class="col-auto">
            <form class="d-flex" method="GET" action="{% url 'groups:get_groups' %}" style="background-color: #f0f0f0; padding: 10px; border-radius: 5px;">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" style="border: 1px solid #ccc; border-radius: 3px; padding: 5px;">
                <button class="btn btn-outline-primary" type="submit" style="background-color: #007bff; color: #fff; border: none; border-radius: 3px; padding: 5px 10px;">Search</button>
            </form>
        </div>
    </div>

    <table class="table table-hover table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th>Group Name</th>
            <th>Focus on Subject</th>
            <th>Students Quantity</th>
            <th>Mentor</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.pk }}</td>
                <td>{{ group.name }}</td>
                <td>{{ group.focus_on_subject }}</td>
                <td>{{ group.students_quantity }}</td>
                <td>
                    {% for teacher in group.teachers.all %}
                        {{ teacher.first_name }}
                        {{ teacher.last_name }}
                    {% endfor %}
                </td>
                <td>
                    <a type="button" class="btn btn-warning"
                       href={% url 'groups:update_group' group.pk %}>Edit
                    </a>
                </td>
                <td>
                    <a type="button" class="btn btn-danger"
                       href={% url 'groups:delete_group' group.pk %}>Delete
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
